/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
    .mobile-header {
        display: none;
    }

    /* 
    .header .container,
    .cta .container,
    .footer .container {
        max-width: 1330px;
    } */
}

/* PC */
/* Large devices (desktops, 992px and up) */
@media screen and (min-width: 992px) {
    .mobile-header {
        display: none;
    }

    .show-on-mobile {
        display: none;
    }

    .toggle-menu svg {
        display: none;
    }

    .bell {
        display: none;
    }
}

/* Tablet & Mobile */
@media screen and (max-width: 991.98px) {

    /* -- Header -- */
    .navbar {
        position: relative;
    }

    .logo {
        position: absolute;
        top: 40%;
        left: 48%;
        transform: translate(-50%, 50%);
    }

    .navbar__list {
        display: none;
    }

    .toggle-menu svg {
        display: block;
        width: 24px;
        color: #666;
    }

    .menu-overlay {
        position: fixed;
        inset: 0;
        background: rgba(0, 0, 0, 0.3);
        z-index: 2;
        opacity: 0;
        visibility: hidden;
        transition: 0.6s ease;
    }

    .menu-drawer {
        position: fixed;
        inset: 0 40% 0 0;
        background: #fff;
        z-index: 2;
        padding: 60px;
        transform: translateX(-100%);
        transition: 0.6s ease;
    }

    .menu-wrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .menu-drawer .x-mark svg {
        width: 20px;
    }

    .menu-drawer ul {
        margin-top: 32px;
    }

    .menu-drawer ul a {
        display: block;
        padding: 20px 0;
        font-weight: 500;
        color: #333;
    }

    .menu-checkbox:checked~.menu-overlay {
        opacity: 1;
        visibility: visible;
    }

    .menu-checkbox:checked~.menu-drawer {
        transform: translateX(0);
    }

    .separate {
        border-top: 1.5px solid #ebebeb;
    }

    /* Hero */

}

/*  Medium devices (tablets, 768px and up) */
/* Tablet */
@media screen and (min-width: 768px) and (max-width: 991.98px) {
    .show-on-mobile {
        display: none;
    }

    .bell-wrap {
        display: none;
    }
}

/* `md` applies to small devices (landscape phones, less than 768px) */
/* Mobile */
@media screen and (max-width: 767.98px) {

    /* Common */
    .hide-on-mobile {
        display: none;
    }

    /* -- Header -- */
    .menu-drawer {
        inset: 0 25% 0 0;
        padding: 40px;
    }

    .logo {
        left: 50%;
        width: 110px;
        top: 50%;
        transform: translate(-50%);
    }

    .header-action {
        display: none;
    }

    .header__inner {
        justify-content: space-between;
    }

    .bell {
        display: block;
        width: 20px;
    }

    /* Hero */

}

/*`sm` applies to x-small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {}