* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #696D76;
    --label--color-2: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {
    --height: 62px;
    display: inline-block;
    min-width: 170px;
    height: var(--height);
    line-height: var(--height);
    color: #fdfdfd;
    background: #5d3bee;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.66667;
    outline: none;
    border: none;
    cursor: pointer;
}

.btn:hover {
    opacity: 0.9;
}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

.section-heading {
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.18;
    color: #080415;
}

.section-desc-1 {
    font-size: 1.8rem;
    line-height: 1.67;
    color: #51586A;
}

.section-desc-2 {
    font-size: 1.6rem;
    line-height: 1.4375;
    color: #51586A;
}

.section-title {
    font-size: 3.2rem;
    font-weight: 500;
    line-height: 1.25;
    color: #080415;
}

/* ============== Header ============== */
.header {
    padding-top: 20px;
    background: #FBFAFF;
}

.header__container {
    padding-left: 10px;
    padding-right: 10px;
    max-width: 1330px;
    margin-left: auto;
    margin-right: auto;
}

.header-fixed {
    position: sticky;
    top: -9px;
    z-index: 4;
}

.header__inner {
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__email-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93 59 238 / 20%);
}

.header__email-address {
    position: relative;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    color: #080415;
}

.header__email-address::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    height: 1px;
    background: currentColor;
}

.header__inner .logo {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 21.5px;
    font-size: 1.8rem;
    color: #51586A;
}

/* ============== Hero ============== */
.hero {
    background: #FBFAFF;
    position: relative;
}

.hero__decor-2 {
    position: absolute;
    right: 0;
    bottom: 0;
}

.hero__inner {
    align-items: center;
}

.hero__media {
    position: relative;
}

.hero__img {
    position: relative;
    z-index: 2;
    display: block;
    height: auto;
    width: 92.7%;
    /* width: 514px; */
    /* height: 705px; */
    object-fit: cover;
}

.hero__decor {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    left: -11%;
    bottom: 0;
}

.hero__content {
    margin-top: 20%;
    width: 85%;
    margin-left: auto;
}

.hero__heading {
    font-size: 8rem;
    font-weight: 500;
    line-height: 0.95;
    color: #080415;
}

.hero__desc {
    margin-top: 20px;
    width: 370px;
}

.hero__cta {
    margin-top: 50px;
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.hero__link {
    position: relative;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    color: #080415;
}

.hero__link::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: 6.1px;
    height: 1px;
    background: currentColor;
}

.hero__socials {
    margin-top: 104px;
    display: flex;
    align-items: center;
}

.hero__socials-text {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.875;
    color: #51586A;
}

.hero__socials-list {
    margin-left: 15px;
    display: flex;
    column-gap: 15px;
    position: relative;
    z-index: 1;
}

.hero__socials-item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 1px solid rgb(8 4 21 / 10%);
    cursor: pointer;
}

.hero__socials-item:hover .hero__socials-icon {
    filter: brightness(0) invert(1);
}

.hero__socials--tooltip {
    position: absolute;
    top: 0;
    left: -30px;
    transform: translateX(50%);
    transform: translateY(-15px);
    padding: 10px 15px;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s;
    border-radius: 10px;
    color: var(--white-color);
}

.hero__socials--tooltip-2 {
    left: -21px;
}

.hero__socials--tooltip-3 {
    left: -32px;
}

.hero__socials--tooltip-4 {
    left: -21px;
}

.hero__socials--tooltip-5 {
    left: -21px;
}

.hero__socials-item-1:hover,
.hero__socials--tooltip-1 {
    background: #145fd2;
}

.hero__socials-item-2:hover,
.hero__socials--tooltip-2 {
    background: #3f9ced;
}

.hero__socials-item-3:hover,
.hero__socials--tooltip-3 {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}

.hero__socials-item-4:hover,
.hero__socials--tooltip-4 {
    background: #1e2125;
}

.hero__socials-item-5:hover,
.hero__socials--tooltip-5 {
    background: #26282b;
}

.hero__socials-item-1 svg,
.hero__socials-item-2 svg {
    color: #000;
}

.hero__socials-item:hover .hero__socials--tooltip {
    top: -80%;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

/* ============== Client ============== */
.client {
    margin-top: 100px;
}

.client__heading {
    position: relative;
    font-size: 4.2rem;
    font-weight: 500;
    line-height: 1.19048;
    color: #080415;
}

.client__heading::before {
    position: absolute;
    content: "";
    top: 22px;
    left: -99px;
    width: 86px;
    height: 2px;
    background: #5d3bee;
}

.client__list {
    display: flex;
    justify-content: flex-end;
    column-gap: 66px;
}

.client__item {
    display: grid;
    grid-template-columns: auto auto;
    gap: 36px;
}

.client__item-logo {
    display: flex;
    align-items: center;
    column-gap: 13px;
}

.client__name {
    color: #080415;
}

.client__logo-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    border-radius: 50%;
}

.client__logo-wrap--bg {
    background: #fbfaff;
}

/* ============== Service ============== */
.service {
    margin-top: 133px;
}

.service__heading,
.service__desc {
    text-align: center;
}

.service__desc {
    width: 534px;
    margin: 20px auto 0 auto;
}

.service__list {
    margin-top: 60px;
}

.service-item {}

.service-item__wrap {
    padding: 33px 38px 32px 43px;
    background: #fbfaff;
    transition: 0.3s ease-in-out;
}

.service-item__wrap:hover {
    transform: scale(1.1);
    cursor: pointer;
    box-shadow: 1px 21px 35px -25px rgba(0, 0, 0, 0.75);
}

.service-item__img-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 74px;
    height: 74px;
    border-radius: 50%;
    border: 1px solid rgb(8 4 21 / 5%);
}

.service-item__img {
    width: 50%;
    height: auto;
    object-fit: cover;
}

.service-item__title {
    margin-top: 22px;
}

.service-item__desc {
    margin-top: 15px;
}

/* ============== Work ============== */
.work {
    margin-top: 140px;
    padding-bottom: 86px;
    background: #5d3bee;
}

.work__top {
    align-items: center;
    padding: 86px 0 70px;
}

.work__heading {
    max-width: 468px;
    color: var(--white-color);
}

.work__desc {
    max-width: 370px;
    color: var(--white-color);
}

.work__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
}

.work__item {
    padding: 24px 23px 23px 34px;
    display: flex;
    align-items: center;
    column-gap: 47px;
    background: #fbfaff;
    background-image: url(../img/work-bg.png);
    background-repeat: no-repeat;
    background-size: 72.8%;
    background-position: 104.3% 88.3%;
    transition: 0.2s ease;
    cursor: pointer;
}

.work__item:hover {
    transform: scale(1.1);
    box-shadow: 1px -1px 51px 7px rgba(0, 0, 0, 0.75);
}

.work__item-info {
    width: 85%;
}

.work__item-desc {
    margin-top: 10px;
}

.work__item-link {
    display: inline-block;
    margin-top: 20px;
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    text-decoration: underline;
    color: #080415;
}

.work__item-media {
    display: block;
    height: 100%;
}

.work__item-image {
    height: 100%;
}

.work__item-img {
    width: 246px;
    height: 100%;
    object-fit: cover;
}

.work__cta-btn {
    margin: 80px auto 0;
    background: #fff;
    color: #080415;
}

/* ============== About ============== */
.about {
    margin-top: 140px;
}

.about__greeting-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 9px;
}

.about__greeting-title {
    color: #5D3BEE;
}

.about__top-heading {
    margin-top: 10px;
    text-align: center;
}

.about__top-desc {
    margin-top: 15px;
    text-align: center;
}

.about__stats {
    margin-top: 70px;
    padding: 20px 0;
    border-top: 1px solid;
    border-bottom: 1px solid;
    border-color: #08041533;
}

.about__stats-list {
    display: flex;
    justify-content: space-around;
}

.about__stats-number {
    position: relative;
    font-size: 5.6rem;
    font-weight: 500;
    line-height: 1.36;
    color: #080415;
}

.about__stats-number::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 10%;
    height: 3px;
    background: currentColor;
}

.about__video-wrap {
    position: relative;
    margin-top: 70px;
    height: 628px;
    z-index: 1;
}

.about__video {
    width: 97%;
    height: 100%;
    object-fit: cover;
}

.about__play {
    min-width: 111px;
    height: 111px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 50%;
}

.about__play-icon {
    width: 15px;
    height: 18px;
}

.about__intro {
    padding: 16px 28px;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    bottom: 10px;
    right: 10px;
}

.about__intro-label {
    font-size: 1.8rem;
    font-weight: 700;
    line-height: 1.67;
    color: #51586A;
}

/* ============== Feedback ============== */
.feedback {}