* {
    box-sizing: border-box;
}

:root {
    --primary-color: #7264D6;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #696D76;
    --label--color-2: #212832;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "DM Sans", sans-serif;
}

html,
body {
    scroll-behavior: smooth;
}

/* Common */
a {
    text-decoration: none;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
}

.btn {}

.line-clamp {
    display: -webkit-box;
    -webkit-line-clamp: var(--line-clamp, 1);
    -webkit-box-orient: vertical;
    overflow: hidden;
}

.line-clamp.line-2 {
    --line-clamp: 2;
}

.line-clamp.line-3 {
    --line-clamp: 3;
}

/* ============== Header ============== */
.header {
    padding-top: 20px;
    background: #FBFAFF;
}

.header-fixed {
    position: sticky;
    top: -9px;
    z-index: 4;
}

.header__inner {
    position: relative;
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__email {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.header__email-wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 46px;
    height: 46px;
    border-radius: 50%;
    border: 1px solid rgb(93 59 238 / 20%);
}

.header__email-address {
    position: relative;
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1.36;
    color: #080415;
}

.header__email-address::after {
    position: absolute;
    content: "";
    left: 0;
    right: 0;
    bottom: 5px;
    height: 1px;
    background: currentColor;
}

.header__inner .logo {
    position: absolute;
    inset: 50%;
    transform: translate(-50%, -50%);
}

.navbar__list {
    display: flex;
}

.navbar__link {
    padding: 8px 21.5px;
    font-size: 1.8rem;
    color: #51586A;
}